{% extends '_base.html' %}

{% block content %}

<div ng-app='myApp' ng-controller="CommitCtrl">

    <div>
      <h3>{% raw %}{{ status }}{% endraw %}</h3>
      <div ng-repeat="commit in commits">
        <div>
          <div class="">
          {% raw %}
            <div >
              <div class="row commit">
                  <div class="avatar">
                    <a href= "https://github.com/{{commit.actor.login}}">
                      <img ng-src="{{commit.actor.avatar_url}}" width="50" height="50"/>
                    </a>
                  </div>

                  <div class="info">
                    <span style="font-size:1.2em" >
                  <span><b>@{{commit.actor.login}}</b></span>
                  <span ng-if="commit.type == 'PushEvent'">pushed to</span>
                  <span ng-if="commit.type == 'CommitCommentEvent'">commented on</span>
                  <span ng-if="commit.type == 'CreateEvent'">created a {{commit.payload.ref_type}}</span>
                  <span ng-if="commit.type == 'DeleteEvent'">deleted a {{commit.payload.ref_type}}</span>
                  <span ng-if="commit.type == 'DeploymentEvent'">deployed</span>
                  <span ng-if="commit.type == 'DeploymentStatusEvent'">deployed</span>
                  <span ng-if="commit.type == 'DownloadEvent'">downloaded</span>
                  <span ng-if="commit.type == 'FollowEvent'">followed</span>
                  <span ng-if="commit.type == 'ForkEvent'">forked 🎉</span>
                  <span ng-if="commit.type == 'ForkApplyEvent'">forked 🎉</span>
                  <span ng-if="commit.type == 'GistEvent'">created a gist</span>
                  <span ng-if="commit.type == 'GollumEvent'">added to the wiki</span>
                  <span ng-if="commit.type == 'IssueCommentEvent'">commented on issue</span>
                  <span ng-if="commit.type == 'IssuesEvent'">{{commit.payload.action}} an issue</span>
                  <span ng-if="commit.type == 'PageBuildEvent'">built a page</span>

                  <span ng-if="commit.type == 'PullRequestReviewCommentEvent'">commented on a PR</span>
                  <span ng-if="commit.type == 'PullRequestEvent'">{{commit.payload.action}} a PR</span>
                  <span ng-if="commit.type == 'StatusEvent'">status</span>
                  <span ng-if="commit.type == 'TeamAddEvent'">team</span>
                  <span ng-if="commit.type == 'WatchEvent'">starred 🌟</span>
                  <a style="display:inline;" href="https://github.com/{{commit.repo.name}}"><span>{{commit.repo.name}}</span></a>
                  </span>
                  <br />
                  <span ng-if="commit.type == 'IssuesEvent'">
                    <a href="{{commit.payload.issue.html_url}}">#{{commit.payload.issue.number }}</a> {{commit.payload.issue.title }}
                    <br />
                  </span>
                  <span ng-if="commit.type == 'IssueCommentEvent'">
                    <a href="{{commit.payload.issue.html_url}}">#{{commit.payload.issue.number }}</a> {{commit.payload.comment.body.slice(0, 80) }} [<a href="{{commit.payload.comment.html_url}}">...</a>]
                    <br />
                  </span>
                  <span ng-if="commit.type == 'PushEvent'">
                    <a href="{{ commit.payload.commits[0].url }}">{{ commit.payload.head.slice(0,7) }}</a> {{ commit.payload.commits[0].message }}
                    <br />
                  </span>
                  <span ng-if="commit.type == 'PullRequestEvent'">
                    <a href="{{commit.payload.pull_request.html_url}}">#{{commit.payload.number }}</a> {{commit.payload.pull_request.title }}
                    <br />
                  </span>
                  <span ng-if="commit.type == 'CreateEvent'">
                    {{ commit.payload.ref }}: {{ commit.payload.description }}
                    <br />
                  </span>

                  <span>{{commit.created_at | fromNow}}</span>
                </div>

              </div>
            </div>
            {% endraw %}
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

{% endblock %}