/* custom styles */

body {
  padding: 0 20px;
}

.commit {
  /*border-top: 1px solid #999;*/
  padding: 10px;
}

.commit .avatar {
  float:left;
  padding-right: 20px;

}

.commit .info {
  float:left;
}

.container {
  max-width: 1200px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.github-avatars {
  border-radius: 50px;
  max-height: 100px;
}

.signUpContainer {
  background: transparent;
  padding-bottom: 0;
}

.main-header {
  position: fixed;
}

.refactoru-logo {
  max-width: 200px;
}